</main>
<footer>
    <div class="container">
        <p>&copy; <%= new Date().getFullYear() %> Shubham Srivastava. All rights reserved.</p>
    </div>
</footer>
<script src="/js/validation.js"></script>
</body>
</html>